---
import Card from '../Card.astro'
import Pulse from '../Pulse.astro'
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-2">
  <div class="mb-2 flex w-full items-start justify-between">
    <div class="flex flex-col">
      <h2>Now</h2>
      <a href="https://github.com/SirTamago/sleepy" target="_blank">
        <span class="cursor-pointer text-xs text-gray-500">what's that ?</span>
      </a>
    </div>
    <Pulse />
  </div>
  <a href="https://peek.rimrose.top" target="_blank" class="text-xs">点击查看我在干什么</a>
</Card>
